ul, li {
    list-style: none;
  }
  /* 垂直水平居中 */
  .trans-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* 扩展点击区域 */
  .extend-click { position: relative; }
  .extend-click:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
  
  /* 划线 */
  .scribe {
    text-decoration: line-through;
  }
  
  /* button样式重置 */
  button {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    color: #fff;
    line-height: normal;
  }
  button::after {
    border: none;
  }
  
  /* 隐藏 */
  .hide {
    display: none;
  }
  
  .v-hide {
    visibility: hidden;
  }